*{
    margin:0 auto;
    padding: 10px;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    justify-content: center;
    font-size:2rem;
    padding: 10px;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(33.333% - 1.5rem));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.services .box-container .box{
    background-color: white;
    box-shadow:  10px 10px 5px #aaaaaa;
    padding: 2rem;
    text-align: center;
}
.services .box-container .box img{
    height: 8rem;
    object-fit: contain;
    margin: 1rem 0;
}
.services .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color: black;
}
.services .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: rgb(73, 82, 90);
    text-transform: capitalize;
}
.services .box-container .box:hover{
    transform: scale(1.1);
    background-color: #a2a2ee;
}